*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

body{
    font-family: 'Roboto';
    font-size: 25px;
  }

nav{
    /* display: flex; */
    /* flex-direction: column; */
    width: 100%;
    height: auto;
    background-color: #6433A4;
}

.navbar{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.logo{
    margin-left: 20px;
    padding: 5px 0px 1px 0px;
}

.nom{
    display: flex;
    color: #73A433;
    align-items: center;
    margin-right: auto;
    font-size: 60px;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;    
    padding-right: 20px;
    gap: 20px;
}

li {
    font-size: 15px;
    cursor: pointer;
}

.btn0{
    display: flex;
    justify-content: center;
    width: 120px;
    background-color: #73A433;
    line-height: 2.5;
    border: 1px solid #ccc;    
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.btn0:hover {
    transform: translate(2px, 2px);
    box-shadow: 0px 0px 2px black;
}

.btn1{
    display: flex;
    justify-content: center;
    width: 120px;
    background-color: #39FF71;
    color: #6433A4;
    line-height: 2.5;
    border: 1px solid #ffffff;
    box-shadow: black 2px 2px 5px;
    border-radius: 10px;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.btn1:hover {
    transform: translate(2px, 2px);
    box-shadow: 0px 0px 2px black;
}

.btn2{
    width: 200px;
    background-color: #39FF71;
    line-height: 3;
    font-size: 20px;
    border-radius: 15px;
    color: #B47AFF;
    box-shadow: black 2px 2px 5px;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.btn2:hover {
    transform: translate(2px, 2px);
    box-shadow: 0px 0px 2px black;
}

.btnC{
    width: 200px;
    background-color: #73A433;
    color: #6433A4;
    border-radius: 10px;
    margin-right: 200px;
    position: absolute;
    /* top: 20px; */
    bottom: -20px;
    left: 30px;
    z-index: 5;
    box-shadow: black 2px 2px 5px;
}

.nav-lien {
    color: #6433A4;
    text-decoration: none;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem;
    gap: 15px;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;
    box-shadow: black 2px 2px 5px;
}

iframe{
    border-radius: 10px;
    box-shadow: black 2px 2px 5px;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 35px;
}

a{
    display:flex;
    text-decoration: none;
    align-items: center;
    gap: 10px;
    color: #73A433;
}

.div1{
    display: flex;
    align-items: flex-end;
    height: 80px;
}

.div2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 50px;
    background: #73A433;
    color: #6433A4;
    box-shadow: black 2px 2px 5px;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.div2:hover {
    transform: translate(2px, 2px);       /* déplacement vers le bas/droite */
    box-shadow: 0px 0px 2px black;         /* ombre réduite = effet enfoncé */
}

.container1{
    display: flex;
    height: 500px;
    background: linear-gradient(#B47AFF, #FD79D8);
    /* justify-content:space-between; */
}

.container2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 6%;
    /* gap: 20px; */
}

.container3{
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: #C5FF7A;
    height: 320px;
}

.container4{
    display: flex;
    flex-direction: column;
    padding: 0px 6%;
    height: 600px;
    background: linear-gradient(#FD79D8, #B47AFF);
    color: #79FD9E;
}

.container5{
    display: flex;
    align-items: center;
    height: 600px;
    gap: 100px;
}

.container6{
    display: flex;
    flex-direction: column;
    padding: 0px 6%;
    height: 800px;
    background: linear-gradient(#B47AFF, #FD79D8);
    color: #C5FF7A;
    padding-bottom: 40px;
}

.container7{
    display: flex;
    /* justify-content: space-around; */
    height: 800px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 30px 50px; 
    margin: 20px 0px;
    /* grid-template-areas: 
      ". . ."
      ". . ."; */
}

.container8{
    display: flex;
    flex-direction: column;
    padding: 0px 6%;
    height: 500px;
    background: linear-gradient(#FD79D8, #B47AFF);
    color: #79FD9E;
}

.container9{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    gap: 100px;
    /* position: relative; */
}

.container10{
    display: flex;
    flex-direction: column;
    padding: 0px 6%;
    height: 650px;
    background-color: #B47AFF;
    color: #79FD9E;
    padding-bottom: 30px;
    /* position: relative; */
}

.container11{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 450px;
    background-color: #C5FF7A;
    border-radius: 10px;
    /* gap: 15px; */
    /* position: relative; */
}

.container12{
    display: flex;
    /* flex-direction: column; */
    padding: 0px 6%;
    height: 300px;
    width: 100%;
    background-color: #6433A4;
    color: #73A433;
}

.container13{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container14{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 150px;
    gap: 30px;
}

.container15{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    width: 100%;
    gap: 100px;
}

.container16{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
    width: 200px;
    /* gap: 25px; */
}

.ligne1{
    display: flex;
    width: 510px;
    height: 15px;
    border-bottom: #C5FF7A 2px solid;
}

.ligne2{
    display: flex;
    width: 100px;
    height: 15px;
    border-bottom: 2px solid;
    margin-bottom: 50px;
}

.card{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    width: 250px;
    height: 350px;
    background-color:#79FD9E;
    color:#FD79D8;
    border-radius: 15px;
    box-shadow: black 2px 2px 5px;
}

.card1{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-items: center; */
    width: 500px;
    height: 300px;
    background-color:#79FD9E;
    color:#FD79D8;
    border-radius: 15px;
    padding: 0px 5px;
    box-shadow: black 2px 2px 5px;
}

.imgET{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 50vh;
}

.imgC{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin: 30px 25px;
    object-fit: cover;
}

.grid-item{
    background-color: #C5FF7A;
    border-radius: 10%;
    box-shadow: black 2px 2px 5px;
}

input{
    padding: 10px;
    width: 100%;
}

textarea {
    width: 100%;
}

iframe {
    border:0;
}